BasedOnStyle: LLVM
IndentWidth: 3
UseTab: Never
ColumnLimit: 128

AccessModifierOffset: -3
NamespaceIndentation: All
IndentCaseLabels: true
IndentCaseBlocks: false

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false

BreakTemplateDeclarations: Yes
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignEscapedNewlines: Right
AlignTrailingComments:
  Kind: Always
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: BeforeComma
BinPackArguments: true
BinPackParameters: true
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes:
  Enabled: true
  IgnoreCase: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<vigil/'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

FixNamespaceComments: true
ReflowComments: true
SortUsingDeclarations: LexicographicNumeric
InsertNewlineAtEOF: true
